html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background: white;
  color: black;
  width: 100vw;
  min-width: 390px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* background: #303030;
  color: white; */
}

main {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 10px 0;
  font-size: 26px;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
